{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block content %}
<div class="about">
    <h1>a few words about us</h1>
</div>
<div class="wrapper">
    <div class="about-image-container">
        <img src="{% static 'img/about.jpg' %}" alt="About Us" class="about-image">
    </div>
    <div class="about-text">
        <p>Welcome to our travel blog! We're passionate explorers dedicated to sharing our adventures with you.</p>

        <h2>Who am I</h2>
        <p>A travel enthusiasts who believes in the transformative power of travel. From bustling cities
            to serene landscapes, I will bring you a blend of personal experiences, practical advice, and destination
            insights.</p>

        <h2>My Mission</h2>
        <p>To inspire and help others explore the world. Whether you're an experienced traveler or just
            starting out, we aim to provide you with the tips, guides, and stories that will make your journeys
            unforgettable.</p>
        <ul>
            <li><strong>Travel Guides:</strong> Detailed guides to help you navigate and explore new destinations.</li>
            <li><strong>Travel Tips:</strong> Practical advice to make your trips smoother and more enjoyable.</li>
            <li><strong>Stories:</strong> Personal anecdotes and stories from our travels to inspire your own
                adventures.</li>
            <li><strong>Photos:</strong> Stunning visuals that capture the essence of the places we visit.</li>
        </ul>

        <h2>Join</h2>
        <p>I invite you to join the community of travelers. Share your stories, ask questions, and connect with us on
            social media. Let's explore the world together!</p>

        <p>Thank you for visiting our blog. We hope to be a part of your travel journey.</p>
    </div>
</div>
{% endblock content %}